body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img,
svg {
    display: block;
}

/* ====================== pseodoclasses ============================= */

a:hover,
a:focus {
    color: #404bbf;
}

a:hover span,
a:focus span {
    color: #404bbf;
}

a:active {
    text-decoration: underline;
}

button:hover,
button:focus {
    background-color: #404bbf;
}

/* ====================== classes ============================= */
/* ====================== header ============================= */
.pageheader {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding: 0 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.pageheader .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageheader-container-navigation {
    display: flex;
    align-items: center;
}

.pageheader-container-navigation-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
    display: block;
    margin-right: 76px;
}

.inception-logo {
    color: #2e2f42;
}

.pageheader-container-navigation-list {
    display: flex;
    gap: 40px;
}

.pageheader-container-navigation-list-item-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.position-rel {
    position: relative;
    color: #404bbf;
}

.current-page::after {
    content: '';
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.pageheader-container-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.pageheader-container-address-list {
    display: flex;
    gap: 40px;
}

.pageheader-container-address-list li {
    width: calc((100% - 40px) / 2);
}

.pageheader-container-address-list-item-link {
    color: currentColor;
    padding: 24px 0;
    display: block;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================== hero ============================= */

.hero {
    background-color: #2e2f42;
    color: #ffffff;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-container-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================== Advantages ============================= */
.section-padding {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-container-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.advantages-container-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
}

.advantages-container-list-item-div {
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
}

.advantages-container-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-container-list-item-text {
    font-size: 16px;
    line-height: 1.5;
}

/* ====================== team ============================= */

.team {
    background-color: #f4f4fd;
}

.team-container-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-container-list {
    display: flex;
    gap: 24px;
}

.team-container-list-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 24px * 3) / 4);
}

.team-container-list-item-card {
    padding: 32px 0;
}

.team-container-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-container-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
}

.team-container-list-item-card-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-container-list-item-card-icons-item {
    flex-basis: 40px;
    height: 40px;
}

.team-container-list-item-card-icons-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-container-list-item-card-icons-item-link:hover,
.team-container-list-item-card-icons-item-link:focus {
    background-color: #404bbf;
}

.team-container-list-item-card-icons-icon {
    fill: #f4f4fd;
}

/* ====================== portfolio ============================= */

.portfolio-container-title {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.portfolio-container-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-container-list-item {
    flex-basis: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-container-list-item:hover .portfolio-container-list-item-translet {
    transform: translateY(0);
}

.position-div {
    position: relative;
    overflow: hidden;
}

.portfolio-container-list-item-translet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.portfolio-container-list-item-wrapper {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.portfolio-container-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-container-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ====================== footer ============================= */

.pagefooter {
    background-color: #2e2f42;
    padding: 100px 0;
}

.pagefooter .container {
    display: flex;
    align-items: baseline;
}

.pagefooter-container-first {
    margin-right: 120px;
}

.footer-container-logo {
    display: inline-block;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.logo-end {
    color: #f4f4fd;
}

.footer-container-text {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.pageheader-container-second {
    width: 208px;
    margin-right: 80px;
}

.pageheader-container-second-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

footer .team-container-list-item-card-icons {
    gap: 16px;
}

.pagefooter-list-item {
    width: 40px;
    height: 40px;
}

.pagefooter-list-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pagefooter-list-item-icon:hover,
.pagefooter-list-item-icon:focus {
    background-color: #31d0aa;
}

.pagefooter-container-third {
    flex-basis: 453px;
}
.pagefooter-container-third-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.pagefooter-container-third-form {
    display: flex;
    gap: 24px;
}
.pagefooter-container-third-form-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    margin-right: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
    padding-left: 16px;
}

.pagefooter-container-third-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.pagefooter-container-third-form-submit {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pagefooter-container-third-form-submit-icon {
    fill: #fff;
    margin-left: 16px;
}

/* ====================== overlay ============================= */

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: auto;
    padding: 72px 24px 24px;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-close {
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: none;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: #fff;
}

.modal-close:hover,
.modal-close:focus {
    border: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: flex-start;
}

.form-wrapper {
    margin-bottom: 8px;
    width: 100%;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.div-for-input {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.icon-in-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-in-input {
    fill: #4d5ae5;
}

.div-for-comments {
    margin-bottom: 16px;
    width: 100%;
}

.modal-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area:focus {
    border: 1px solid #4d5ae5;
}

.div-for-checkbox {
    margin-bottom: 24px;
}

.modal-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-checkbox-span {
    width: 16px;
    height: 16px;
    display: inline-flex;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox-input:checked + .modal-label-checkbox > .label-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-link {
    color: #4d5ae5;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    align-self: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
}

.modal-area::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
