@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: color 250ms;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
svg {
    display: block;
}

/* ====================== pseodoclasses ============================= */

a:hover,
a:focus {
    color: #404bbf;
}

.mobile-menu-navigation-list-item-link:active,
.mobile-menu-address-list-item-link:active {
    color: #404bbf;
}

.mobile-menu-list-item-link:active {
    background-color: #404bbf;
}

.team-container-list-item-card-icons-item-link:hover,
.team-container-list-item-card-icons-item-link:focus {
    background-color: #404bbf;
}

.pagefooter-list-item-icon:hover,
.pagefooter-list-item-icon:focus {
    background-color: #31d0aa;
}

.hero-container-button:hover,
.hero-container-button:focus,
.pagefooter-container-third-form-submit:hover,
.pagefooter-container-third-form-submit:focus {
    background-color: #404bbf;
}

.pagefooter-container-third-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    opacity: 0.6;
}

@media screen and (min-width: 1158px) {
    .pagefooter-container-third-form-input::placeholder {
        opacity: 1;
    }
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: #fff;
}

.modal-close:hover,
.modal-close:focus {
    border: none;
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-input:focus + .icon-in-input {
    fill: #4d5ae5;
}

.modal-area:focus {
    border: 1px solid #4d5ae5;
}

.checkbox-input:checked + .modal-label-checkbox > .label-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-area::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

footer a:hover {
    color: #4d5ae5;
}

/* ====================== general classes ============================= */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-padding {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section-padding {
        padding: 120px 0;
    }
}

/* ====================== header ============================= */
.pageheader {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .pageheader {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .pageheader {
        max-width: 1158px;
    }
}

.pageheader-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageheader-container-navigation {
    display: flex;
    align-items: center;
}

.pageheader-container-navigation-list,
.pageheader-container-address {
    display: none;
}

@media (min-width: 768px) {
    .pageheader-container-navigation-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .pageheader-container-address {
        display: block;
        font-style: normal;
    }
}

.pageheader-container-navigation-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.inception-logo {
    color: #2e2f42;
}

@media screen and (min-width: 768px) {
    .pageheader-container-navigation-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .pageheader-container-navigation-logo {
        margin-right: 76px;
    }
}

.pageheader-burger {
    padding: 0;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 768px) {
    .pageheader-burger {
        display: none;
    }
}

.pageheader-burger-icon {
    display: block;
    fill: #2f2f37;
}

.pageheader-container-navigation-list-item-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.position-rel {
    position: relative;
    color: #404bbf;
}

.current-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .pageheader-container-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1158px) {
    .pageheader-container-address-list {
        flex-direction: row;
        gap: 40px;
    }
}

@media screen and (min-width: 768px) {
    .pageheader-container-address-list-item-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
    }
}

@media screen and (min-width: 1158px) {
    .pageheader-container-address-list-item-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* ====================== mobile menu ============================= */

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    transform: translateY(-100%);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid #e7e9fc;
    background-color: transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.mobile-menu-icon-close {
    fill: #2e2f42;
}

.mobile-menu-navigation {
    margin-bottom: auto;
}

.mobile-menu-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-navigation-list-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-navigation-list-item-link.current-page {
    color: #404bbf;
}

.mobile-menu-address {
    margin-bottom: 48px;
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-address-list-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.mobile-menu-address-list-item-link.current-page {
    color: #404bbf;
}

.mobile-menu-list {
    display: flex;
    max-width: 280px;
    justify-content: space-between;
}

.mobile-menu-list-item {
    flex-basis: 40px;
    height: 40px;
}

.mobile-menu-list-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.mobile-menu-list-item-icon {
    fill: #f4f4fd;
}

/* ====================== hero ============================= */

.hero {
    background-color: #2e2f42;
    color: #ffffff;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tab.jpg);
        max-width: 768px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tab@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office.jpg);
        max-width: 1158px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office@2x.jpg);
    }
}

.hero-container-title {
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

@media screen and (min-width: 768px) {
    .hero-container-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-container-title {
        margin: 0 auto 48px;
    }
}

.hero-container-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: currentColor;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================== Advantages ============================= */

.advantages-container-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .advantages-container-list {
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .advantages-container-list {
        gap: 24px;
        flex-wrap: nowrap;
    }
}

.advantages-container-list-item {
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {
    .advantages-container-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .advantages-container-list-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }
}

.advantages-container-list-item-div {
    display: none;
}

@media screen and (min-width: 1158px) {
    .advantages-container-list-item-div {
        background-color: #f4f4fd;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
    }
}

.advantages-container-list-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .advantages-container-list-item-title {
        margin-bottom: 8px;
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .advantages-container-list-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
}

.advantages-container-list-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 1158px) {
    .advantages-container-list-item-text {
        font-weight: 400;
    }
}

/* ====================== team ============================= */

.team {
    background-color: #f4f4fd;
}

.team-container-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .team-container-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .team-container-list {
        gap: 24px;
    }
}

.team-container-list-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: 264px;
}

.team-container-list-item-card {
    padding: 32px 16px;
}

.team-container-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-container-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-container-list-item-card-icons {
    display: flex;
    gap: 24px;
    max-width: 232px;
}

.team-container-list-item-card-icons-item {
    flex-basis: 40px;
    height: 40px;
}

.team-container-list-item-card-icons-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-container-list-item-card-icons-icon {
    fill: #f4f4fd;
}

/* ====================== portfolio ============================= */

.portfolio-container-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-container-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media screen and (min-width: 768px) {
    .portfolio-container-list {
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-container-list {
        gap: 48px 24px;
    }
}

@media screen and (max-width: 1157px) {
    .portfolio-container-list-item {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-container-list-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 768px) {
    .portfolio-container-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-container-list-item {
        flex-basis: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-container-list-item:hover .portfolio-container-list-item-translet {
        transform: translateY(0);
    }
}

.position-div {
    position: relative;
    overflow: hidden;
}

.portfolio-container-list-item-translet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.portfolio-container-list-item-wrapper {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-container-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-container-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ====================== footer ============================= */

.pagefooter {
    background-color: #2e2f42;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .pagefooter {
        padding: 100px 0;
    }
}

.pagefooter .container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .pagefooter .container {
        padding-left: 108px;
        padding-right: 164px;
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .pagefooter .container {
        align-items: baseline;
        padding-left: 15px;
        padding-right: 15px;
        gap: 0;
    }
}

.pagefooter-container-first {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .pagefooter-container-first {
        align-items: flex-start;
        max-width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .pagefooter-container-first {
        margin-right: 120px;
    }
}

.footer-container-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 16px;
}

.logo-end {
    color: #f4f4fd;
}

.footer-container-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.pageheader-container-second {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .pageheader-container-second {
        width: 208px;
    }
}

@media screen and (min-width: 1158px) {
    .pageheader-container-second {
        width: 208px;
        margin: 0 0;
    }
}

.pageheader-container-second-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .pageheader-container-second-text {
        text-align: left;
    }
}

footer .team-container-list-item-card-icons {
    gap: 16px;
    width: 208px;
    justify-content: space-between;
}

.pagefooter-list-item {
    width: 40px;
    height: 40px;
}

.pagefooter-list-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .pagefooter-container-third {
        flex-basis: 453px;
    }
}

@media screen and (min-width: 1158px) {
    .pagefooter-container-third {
        margin-left: 80px;
    }
}

.pagefooter-container-third-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .pagefooter-container-third-text {
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .pagefooter-container-third-form {
        display: flex;
        gap: 24px;
    }
}

.pagefooter-container-third-form-input {
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    padding-left: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .pagefooter-container-third-form-input {
        width: 264px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .pagefooter-container-third-form-input {
        border: 1px solid #ffffff;
    }
}

.pagefooter-container-third-form-submit {
    margin: 0 auto;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .pagefooter-container-third-form-submit {
        margin: 0 0;
    }
}

.pagefooter-container-third-form-submit-icon {
    fill: #fff;
    margin-left: 16px;
}

/* ====================== modal ============================= */

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    width: 288px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: auto;
    padding: 72px 16px 24px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 256px;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .modal-form {
        width: 360px;
    }
}

.form-wrapper {
    width: 100%;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.div-for-input {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 0 0 0 34px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
    .modal-input {
        padding: 0 0 0 38px;
    }
}

.icon-in-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area {
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-for-checkbox {
    margin-bottom: 16px;
}

.modal-label-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    gap: 8px;
}

.label-checkbox-span {
    width: 16px;
    height: 16px;
    display: inline-flex;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
}

.modal-link {
    color: #4d5ae5;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.modal-button {
    display: block;
    width: 169px;
    height: 56px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    align-self: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
}
